# These folders contain miscellaneous material
# for each project.
_Help/

# Contain random testing code
_Help.*

# Bit Torrent Sync Folder
.sync/

# .hidden files
.hidden

# I <3 Sublime
*.sublime-project
*.sublime-workspace

# I usually create these files for testing and debugging purposes
*.ignore

# Windows Based Stuff
desktop.ini

# The silver searcher ignores
.agignore

# PyCharm
.idea/

# I'm don't even know why I use bower
bower_components

# Python Virtualenv
env/

# IPython Notebook Checkpoints
.ipynb_checkpoints

# Tarballs
*.tar*

# Python Tests Stuff
*.coverage

# Exuberant CTags
.tags
