[color]
  ui = on
[user]
  email = dufferzafar0@gmail.com
  name = Shadab Zafar
[github]
  user = dufferzafar
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  editor = vim
  autocrlf = input
  pager = less -+$LESS -R
  fileMode = false
[push]
  default = simple
[color]
  ui = 1
[color "status"]
  added = green
  changed = red
  untracked = normal dim
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[cola]
  fontdiff = Consolas,11,-1,5,50,0,0,0,0,0
  tabwidth = 4
[gui]
  editor = sublime
  historybrowser = gitk
[diff]
  renames = copies
  tool = meld
  algorithm = patience
  noprefix = true
[difftool]
  prompt = false
[alias]
  exec = "!exec "
  news = "!f() { tig HEAD@{1}..HEAD@{0}; }; f"
  stash-apply = "!f() { git stash apply stash^{/$*}; }; f"
  stash-show = "!f() { git stash show stash^{/$*} -p; }; f"
  week = "!f() { git log --all --since=6.days.ago --author-date-order --author=dufferzafar --decorate; }; f"
[gitreview]
  remote = origin
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -R
  log = diff-so-fancy | less --tabs=1,5 -R
  show = diff-so-fancy | less --tabs=1,5 -R
