[github]
  user = dufferzafar
[user]
  name = Shadab Zafar
  email = szafar@tower-research.com
[color]
  ui = on
[column]
  ui = auto
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  editor = vim
  autocrlf = input
  pager = delta -s --dark
  fileMode = false
[branch]
  sort = -committerdate
[blame]
  #ignorerevsfile=.git-blame-ignore-revs
[fetch]
  prune = true
  pruneTags = true
  all = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[pull]
  rebase = true
[color]
  ui = 1
[color "status"]
  added = green
  changed = red
  untracked = normal dim
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[cola]
  fontdiff = Fira Code,15,-1,5,50,0,0,0,0,0
  tabwidth = 4
  spellcheck = false
[cola "color"]
  text = 030303
  header = bbbbbb
  add = 33f480
  remove = f21f3b
[gui]
  editor = vscode-insiders
  historybrowser = gitk
# [diff]
#   renames = copies
#   tool = meld
#   algorithm = patience
#   noprefix = true
# [difftool]
#   prompt = false
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[alias]
  exec = "!exec "
  ignore = !echo >> .gitignore
  news = "!f() { tig HEAD@{1}..HEAD@{0}; }; f"
  stash-apply = "!f() { git stash apply stash^{/$*}; }; f"
  stash-show = "!f() { git stash show stash^{/$*} -p; }; f"
  week = "!f() { git log --all --since=6.days.ago --author-date-order --author=dufferzafar --decorate; }; f"
  push-gerrit = !/usr/bin/python2 /apps/infra/bin/git_push_gerrit.py
[gitreview]
  remote = origin
[pager]
  # diff = diff-so-fancy | less --tabs=4 -RFX
  # log = diff-so-fancy | less --tabs=4 -RFX
  # show = diff-so-fancy | less --tabs=4 -RFX

[url "git://anongit.kde.org/"]
  insteadOf = kde:
[url "git@git.kde.org:"]
  pushInsteadOf = kde:
[gc]
  autoDetach = false
[tag]
  sort = version:refname
[help]
  autocorrect = prompt

# Tower Research Specific Config
[init]
  templatedir = /apps/infrafs2/szafar/.infra-git-templates
[url "ssh://infragitd@infragit/"]
  insteadOf = infra:
[url "ssh://gerrit:29418/"]
  insteadOf = gerrit:
[http]
	sslVerify = false
[credential "https://github.com"]
	helper = 
	helper = !/spare/local/szafar/apps/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/spare/local/szafar/apps/bin/gh auth git-credential
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
