@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Make fonts bigger.*/
window[windowtype="Places:Organizer"] treechildren::-moz-tree-cell-text
{ font-size: 18px !important; }

window[windowtype="Places:Organizer"] treechildren::-moz-tree-row
{ height: 25px !important; }

/*###########################################################################################################*/

/*
Shadow Fox
==========

https://github.com/overdodactyl/ShadowFox/
https://github.com/overdodactyl/ShadowFox/wiki/Development
*/

@import "ShadowFox/userChrome_imports.css";

/*###########################################################################################################*/

/*
Tree style tabs
===============

https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#for-userchromecss
*/

/* Hide horizontal tabs at the top of the window #1349 */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

/*
Show title of current tab at the top of the window instead
In about:config, set browser.tabs.drawInTitlebar to true.
*/

/*Hide the "Tree Style Tab" header at the top of the sidebar*/
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

/*Reduce minimum width of the sidebar #1373*/
#sidebar {
  min-width: 100px !important;
}

