[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Genymotion
GenericName=Android Emulator
GenericName[fr]=Emulateur Android
Icon=/home/dufferzafar/.apps/genymotion/icons/icon.png
Exec=/home/dufferzafar/.apps/genymotion/genymotion
Categories=Development;Emulator;
